<div class="row">
  <!-- LEFT COLUMN: Lists -->
  <div class="col-md-6">
    <h4>Pushed Tasks</h4>
    <ul class="list-group">
      <li *ngFor="let task of tasks"
          class="list-group-item"
          (click)="setActiveTask(task)">
        <div><strong>Assignee:</strong> {{ task.assignee }}</div>
        <div><strong>Priority:</strong> {{ task.priority }}</div>
        <div><strong>User Task Key:</strong> {{ task.userTaskKey }}</div>
      </li>
    </ul>
  </div>

  <!-- RIGHT COLUMN: Details -->
  <div class="col-md-6">
    <h2>Pushed Task Details</h2>
    <div *ngIf="currentTask">
      <pre>{{ currentTask | json }}</pre>
    </div>
    <div *ngIf="!currentTask">
      <em>Select a task to see details</em>
    </div>
  </div>
</div>
