<h2> create new process </h2>
<div>
  <div class="form-group mb-2">
    <label for="processDefinition"><strong>Process Definition:</strong></label>
    <select id="processDefinition"
            class="form-select"
            [(ngModel)]="selectedProcessDefinitionId"
            (change)="onProcessDefinitionChange()">
      <option *ngFor="let def of processDefinitions" [value]="def.processDefinitionId">
        {{ def.name }} (ID: {{ def.processDefinitionId }})
      </option>
    </select>
  </div>
  <div class="form-group mb-2">
    <label for="assignee1"><strong>Assignee 1:</strong></label>
    <input id="assignee1" type="text" [(ngModel)]="newAssignee1" class="form-control" placeholder="Assignee 1">
  </div>
  <div class="form-group mb-2">
    <label for="assignee2"><strong>Assignee 2:</strong></label>
    <input id="assignee2" type="text" [(ngModel)]="newAssignee2" class="form-control" placeholder="Assignee 2">
  </div>
  <div class="form-group mb-2">
    <label for="var1"><strong>Var1:</strong></label>
    <input id="var1" type="text" [(ngModel)]="var1" class="form-control" placeholder="var1">
  </div>
  <button class="btn btn-primary mt-2" (click)="createProcess()">Start Process</button>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


  <!-- Button toggles Angular boolean -->
  <button class="btn btn-link" type="button" (click)="showProcessInstances = !showProcessInstances">
    {{ showProcessInstances ? 'Hide' : 'Show' }} running process instances
  </button>

  <!-- Collapsible section using *ngIf -->
  <div *ngIf="showProcessInstances">
    <br>
    <div class="row">
      <div class="col-md-6">
        <h4>All running Process Instances</h4>
        <ul class="list-group">
          <li *ngFor="let processInstance of allProcessInstances"
              class="list-group-item"
              (click)="setActiveProcessInstance(processInstance)">
            <div><strong>Definition ID:</strong> {{ processInstance.processDefinitionId }}</div>
            <div><strong>Version:</strong> {{ processInstance.processDefinitionVersion }}</div>
            <div><strong>Started:</strong> {{ processInstance.startDate }}</div>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <h4>Here, there could be details of the process instance</h4>
      </div>
    </div>
  </div>

</div>
